html{
	background-color: rgb(250, 250, 250);
}

body{
	max-width: 804px;
	margin-top: 50px !important;
	margin-bottom: 50px !important;
	margin: auto;
	padding: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 3px 6px rgba(100, 100, 100, 0.16), 0 3px 6px rgba(100, 100, 100, 0.23);
	font-family: Arial, Helvetica, sans-serif;
	border-top: 4px solid #00ab44;
}

.text-default{
	color: #353744;
}

.text-primary{
	color: #00ab44;
}

.text-center{
	text-align: center;
}

/*	Header	
-----------------*/
img{
	width: 200px;
	height: auto;
	border-radius: 50%
}

h1{
	font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 5px;
}

h2{
	font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
}

address{
	font-size: 14px;
    color: #666666;
    font-weight: 400;
    font-style: normal;
}

a{
	color: #00ab44;
	text-decoration: none;
	transition: 0.35s;
}

a:hover{
	color: #353744;
}

hr{
	border: 1px solid #00ab44;
}

/*Section
-----------------*/

section{
	margin-bottom: 20px;
}

section > h3{
	font-size: 18px;
    font-weight: 700;
    color: #555555;
}

section div h4{
	margin-bottom: 10px;
	color: #555555;
}

section ul{
	border-left: 1px solid #00ab44;
	margin-left: 20px;
}

section ul li{
	font-size: 14.666666px;
    color: #353744;
    font-weight: 400;
}


/* Reference Section
-----------------------*/

/*Form design
-------------------------*/
/*error message*/
.error-message{
	background-color: rgba(250, 30, 30, 0.1);
	padding: 10px;
	color: #dd5555;
	border: 1px solid #dd5555;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], textarea {
  width: 100%; 
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 0px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  transition: 0.35s;
}

.form-control:hover, .form-control:focus{
	box-shadow: none;
	border: 1px solid rgba(200, 200, 200, 0.54);
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

input[disabled], input[disabled]:hover{
	background-color: rgba(125, 125, 125, 0.5);
	cursor: not-allowed;
}

input.error{
	border: 1px solid red;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  padding: 20px;
}